/*
CSS file for general formatting rules that should apply to the whole document
i.e. 
background color
text formatting: font, font size, font color, text alignment
link formatting: link, visited link, hovered link
button formatting
navigation bar
*/

body{background-color: #FFF9F3;}

h1, h2, h3, h4, h5, h6{
    color: #0A191A;
    font-family: Alef, Verdana, Tahoma, sans-serif;
}

p{
    color: #0A191A;
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
    font-size: 14pt;
}

p a, p a:active, p a:visited{
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
}

p a:hover{
    color: #FF7A82;
    text-decoration: underline;
}

a.button:link, a.button:visited{
    color: #FFF9F3;
    font-family: Alef, Verdana, Tahoma, sans-serif;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    background-color: #4BB9BD;
    padding: 10px 30px; 
}

a.button:hover{background-color: #358285;}

nav{
    width: 100%;
    background-color: #153436;
    font-family: Alef, Verdana, Tahoma, sans-serif;
    float: left;
    position: fixed;
    top: 0;
    margin: 0 -8px;
}

nav img.logo{
    float: left;
    clear: right;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li, .dropdown-content{display: inline;}

nav a{
    background-color: #153436;
    display: block;
    float: right;
    padding: 15px 25px;
    color: #FFF9F3;
    font-size: 14pt;
    text-decoration: none;
}

nav a:hover, .dropdown:hover a.dropbtn{background-color: #0A191A;}

.dropdown-content a:hover{
    border-left: 2px solid #5CE1E6;
}

nav a.current{text-decoration: underline #5CE1E6 2px;}

nav a.final-link{margin-right: 50px;}

.dropdown{
    position: relative;
    float: right;
}

.dropdown-content{
    display: none;
    position: absolute;
    top: 56px;
    background-color: #153436;
    min-width: 250px;
    padding: 10px;
}

.dropdown-content a, .dropdown-subheading{
    display: block;
    float: left;
    width: 228px;
    padding: 10px 10px;
    color: #FFF9F3;
    font-size: 14pt;
    text-decoration: none;
}

.article-list a{
    font-size: 12pt;
    margin-left: 20px;
    padding: 5px 10px;
    width: 208px;
}

.dropdown:hover .dropdown-content{display: block;}