body{
    background-color: #FFF9F3;
}

h1, h2, h3, h4, h5, h6{
    color: #0A191A;
    font-family: Alef, Verdana, Tahoma, sans-serif;
}

p{
    color: #0A191A;
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
    font-size: 14pt;
}

p a, p a:active, p a:visited{
    color: inherit;
    font-family: inherit;
    text-decoration: none;
}

p a:hover{
    color: #FF7A82;
    font-family: inherit;
    text-decoration: underline;
}

nav{
    width: 100%;
    background-color: #153436;
    font-family: Alef, Verdana, Tahoma, sans-serif;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li{
    display: inline;
}

nav a{
    background-color: #153436;
    display: inline-block;
    border: hidden;
    padding: 15px;
    color: #FFF9F3;
    font-size: 20pt;
    text-decoration: none;
}

nav a:hover{
    background-color: #0A191A;
}